<div>
    {{this.name}} {{this.surname}} {{this.groupName}}
</div>


<a href="">edit student</a>
<a href="">delete student</a>

<form action="">

</form>

<div><button>edit student</button></div>
<div><button>delete student</button></div>
