<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/groups.css">
    <link rel="stylesheet" href="/assets/forms.css">
    <link rel="stylesheet" href="/assets/students.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    <title>School Menager</title>
</head>
<body >
<header class="header-div">
    <a href="/school">
        <img class="logo" src="/icons/logo-grey.svg" alt="">
    </a>

    <nav class="header-nav">
        <a class="nav-link" href="/school">Groups</a>
        <a class="nav-link" href="/school/students">Students</a>
        <a class="nav-link" href="/school/teachers">Teachers</a>
        <a class="nav-link" href="/school/schedule">Schedule</a>
    </nav>
</header>

<div class="body-and-footer">
    {{{body}}}

    <footer>
        <div>Built by <span class="author-name">Geni@</span></div>
    </footer>
</div>



</body>
</html>