<div class="background">

<h2>Add new student</h2>

    <form method="POST" action="/school/students/added">
        <div>
            <p>
                <label for="name">name</label>
            </p>
            <p>
                <input type="text" name="name" required>
            </p>

            <p>
                <label for="surname">surname</label>
            </p>
            <p>
                <input type="text" name="surname" required>
            </p>

            <p>
                <label for="mail">mail</label>
            </p>
            <p>
                <input type="mail" name="mail" required>
            </p>
            <p>
                <label> notes </label>
            </p>
            <p>
                <textarea name="notes" rows="5" cols="33"></textarea>
            </p>
        </div>

        <div>


        </div>

        <button type="submit">Add</button>


        {{> groups-radio-inputs}}


    </form>


</div>