<div class="background">

        <div class="title">
        Student {{studentOne.name}} {{studentOne.surname}} has been added.
    </div>

    <div class="buttons-form-div">


        <a class="form-button student-btn go-btn" href="/school/students/one/{{studentOne.id}}">go for details</a>
        <a class="form-button student-btn go-btn" href="/school">go home</a>

    </div>

</div>