<div class="background big-padding  form-wrapper">

    Student {{name}} {{surname}} has been deleted.

<div class="buttons-form-div">

    {{>go-back-home}}

    <a class="form-button" href="/school/students">back to student list</a>

</div>

</div>