<h2>
    Student {{studentName}} {{studentSurname}} has been removed from the group {{groupName}}.
</h2>


<a href="/school/group/{{groupId}}">Go back to the group details</a>

<a href="">Go to the student details to assign him to a group</a>