<div class="background form-wrapper">
    <h2>Editing group {{oneGroup.groupName}}</h2>
</div>

<div class="background form-wrapper ">
 <div>
    <form method="POST" action="/school/group/group-edited/{{oneGroup.id}}?_method=PUT">

        <p class="title-label">
            <label>group name</label>
        </p>
        <p>
            <input class="input-write" value="{{oneGroup.groupName}}" type="text" name="groupName" required>
        </p>

        <p class="title-label ">
            <label>teacher name</label>
        </p>
        <p>
            <input class="input-write"  value="{{oneGroup.teacherName}}" type="text" name="teacherName">
        </p>

        <p class="title-label">level</p>

        <div class="input-radio-div">

            <p class="radio-para">
                <input class="input-select" type="radio" name="level" id="level" value="beginner" required >
                <label for="level">Beginner</label>
            </p>

            <p class="radio-para">
                <input class="input-select" type="radio" name="level" id="level" value="intermediate" required >
                <label for="level">Intermediate</label>
            </p>

            <p class="radio-para">
                <input class="input-select" type="radio" name="level" id="level" value="advanced" required >
                <label for="level">Advanced</label>
            </p>

            <p class="radio-para">
                <input class="input-select" type="radio" name="level" id="level" value="business" required >
                <label for="level">Business</label>
            </p>
        </div>




        <div class="buttons-form-div">
            <button class="form-button" type="submit">
                save
            </button>

            {{>go-back-button}}

        </div>

    </form>
 </div>

</div>



