<h2>Add new group</h2>


<form method="POST" action="/school/group-added">
    <p>
        <label>group name</label>
    </p>
    <p>
        <input type="text" name="groupName" required>
    </p>

    <p>
        <label>teacher</label>
    </p>
    <p>
        <input type="text" name="teacherName">
    </p>

    <button type="submit">Add </button>

</form>