<h2>Add new group</h2>


<form method="POST" action="/school/group-added">
    <p>
        <label>group name</label>
    </p>
    <p>
        <input type="text" name="groupName" required>
    </p>


    <p>
        <input type="radio" name="level" id="level" value="beginner" required >
        <label for="level">Beginner</label>
    </p>

    <p>
        <input type="radio" name="level" id="level" value="intermediate" required >
        <label for="level">Intermediate</label>
    </p>

    <p>
        <input type="radio" name="level" id="level" value="advanced" required >
        <label for="level">Advanced</label>
    </p>

    <p>
        <input type="radio" name="level" id="level" value="business" required >
        <label for="level">Business</label>
    </p>


    <p>
        <label>teacher name</label>
    </p>
    <p>
        <input type="text" name="teacherName" required>
    </p>

    <button type="submit">Add </button>

</form>